@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://scontent-gig4-1.xx.fbcdn.net/v/t39.30808-6/241994632_107525801726762_7648675249069946662_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeHRBQI7nIo2z_sXqzI59BNZuXqn_CYVq_C5eqf8JhWr8HInppoxWmd1hMZ7SktLiG3b506y5bEL1hbwojtmsWfx&_nc_ohc=tpN9DseuBb0Q7kNvgEmxdDd&_nc_oc=AdiyfahcuZthuGokaOMgZ8q_xxChgWysTCgrLlxC2gOjTX4q2ennJZTaTqD_ktkeFIU&_nc_zt=23&_nc_ht=scontent-gig4-1.xx&_nc_gid=X4EGZqgR0cdJA8k1XffOAA&oh=00_AYEQEWqLYg84beLs3cP0kWMiLzmmHFXhBantbm-3Fen2tQ&oe=67DD866E" alt="LaGriffe" style="width: 50%; height: 100%;">
</div>