@model LaGrife.Models.Entities.Loja

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center mb-4">Detalhes da Loja</h1>

<div class="row justify-content-center">
    <div class="col-md-6 ">
        <div class="card p-4 shadow-sm">
            <h4 class="text-center mb-3">Informações da Loja</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4 fw-bold">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Local)
                </dd>
            </dl>
        </div>
    </div>
</div>

<div class="text-center mt-4">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary btn-lg">Editar</a>
    <a asp-action="Index" class="btn btn-secondary btn-lg">Voltar para a lista</a>
</div>