@model LaGrife.Models.ViewModels.VendedorFormViewModel

@{
    ViewData["Title"] = "Editar dados do vendedor";
}

<h1 class="text-center mb-4">@ViewData["Title"]</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Edit">
            <input type="hidden" asp-for="vendedor.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="vendedor.Nome" class="form-label fw-bold"></label>
                <input asp-for="vendedor.Nome" class="form-control" placeholder="Digite o nome do vendedor" />
                <span asp-validation-for="vendedor.Nome" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="vendedor.Email" class="form-label fw-bold"></label>
                <input asp-for="vendedor.Email" class="form-control" placeholder="Digite o e-mail do vendedor" />
                <span asp-validation-for="vendedor.Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="vendedor.Aniversario" class="form-label fw-bold"></label>
                <input asp-for="vendedor.Aniversario" type="date" class="form-control" />
                <span asp-validation-for="vendedor.Aniversario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vendedor.LojaId" class="control-label"></label>
                <select asp-for="vendedor.LojaId" asp-items="@(new SelectList(Model.Lojas,"Id","Local"))" class="form-control"></select>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Salvar" class="btn btn-success btn-lg" />
                <a asp-action="Index" class="btn btn-secondary btn-lg">Voltar para a lista</a>
            </div>
        </form>
    </div>
</div>
